## .vscode
.vscode

# datasets * pycache
datasets/

__pycache__/


# 실험 결과 폴더
output/

# log file
*.out
*.err
# shell script
*.sh

*.json

*.csv

out_files/

sh_files/

make_csv/

z_claude_conv/

scripts/


# utils_addon 폴더 제외
utils_addon/